.intro-container {
  margin: 0;
  margin-top: 200px;
  display: flex;
	justify-content: center;
  align-items: center;
  width: 100%;
}

.intro-title {
  text-align: center;
  width: 1200px;
  height:200px;
}

.img-container {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  margin-top: 80px;
  margin-left: 1000px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-color: blue;
  border-radius: 50%;
}

.img-me {
  width: 100%;
}
